black
build
importlib-metadata==4.13.0
flake8
flake8-docstrings
importlib_metadata<5
mypy~=0.920
myst-nb
nbclient==0.5.13
nbsphinx-link==1.3.0
nbsphinx==0.8.8
pep8-naming
pre-commit
pytest
pytest-cov
sphinx
twine
